header{
    padding-top: 5vh;
}

#Logo{
    width: 15vh;
    height: 18vh;
    padding-bottom: 2vh;
}

#boton{
    padding-top: 8vh;
    padding-left: 15vh;
}

.custom-white-button{
    background-color: #fff !important;
    color: #000 !important;
}

.dropdown.item{
    background-color: #333;
    color:#000 !important;
}

